footer {
  width: 100%;
  height: 900px;
  display: flex;
  margin-bottom: 100px;
  flex-flow: column wrap;
  margin-top: 0px;
  // > div.line {
  //   width: 100%;
  //   height: 4px;
  //   background-color: rgb(245, 245, 245);
  //   margin-top: 100px;
  //   margin-bottom: 0px;
  //   // border: 2px solid rgb(245, 245, 245);
  // }
  > div.frist {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 182.32px;
    margin-top: 40px;
margin: 0;
    margin-bottom: 40px;
    > div.side-one {
      width: 100%;
      height: inherit;
      justify-content: center;
align-items: center;
      display: flex;
      flex-flow: column wrap;
    //  margin: auto;
    
      > h2 {
        margin: 0px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px !important;
        box-sizing: border-box;
        font-family: fontthree;
        color: rgb(51, 51, 51);
      }
      > h2.two {
        margin: 0px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px !important;
        box-sizing: border-box;
        font-family: fontthree;
        color: rgb(51, 51, 51);
        display: none;
      }
      > div {
        width: 100%;
        height: 49.5px;
        margin-top: 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
align-items: center;
        column-gap: 15px;
        margin: 0px;
      }
      > p {
        font-size: 12px;
        font-weight: bold;
        box-sizing: border-box;
        font-family: fontthree;
        margin: 10px 10px 10px 0px;
        display: none;
      }
      > label {
        font-size: 14px;
        font-weight: 400;
        margin: 0px;
        color: rgb(58, 58, 58);
        box-sizing: border-box;
        font-family: fontthree;
        display: none;
      }
      > input {
        all: unset;
        width: 330px;
        height: 30px;
        padding: 5px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(51, 51, 51);
        display: none;
      }
      > button {
        width: 330px;
        padding: 12px 23px;
        font-size: 14px;
        text-transform: uppercase;
        margin: 10px 0px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.06);
        border: none;
        border-radius: 25px;
        color: #a8a8a8;
        display: none;
      }
    }
  }
  > div.side-two {
    height: 251px;
    background-color: rgba(0, 0, 0, 0.06);
    margin: 0px;
    width: 100%;
    padding: 30px 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    > div {
      width: 22%;
      height: 191px;
      margin: 0px;
      display: flex;
      flex-flow: column wrap;
// justify-content: center;
// align-items: center;
padding-left: 40px;
      > p {
        margin: 9px 0px 10px 0px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: fontthree;
        color: rgb(51, 51, 51);
      }
      > h2 {
        font-size: 15px;
        font-weight: 400;
        margin: 8px 0px 6px 0px;
        font-family: fontthree;
        color: rgb(58, 58, 58);
      }
    }
  }
  > div.side-three {
    // width: 550px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    > p {
      font-size: 14px;
      font-weight: 400;
      font-family: fontthree;
      text-align: center;
      margin: 30px auto;
      padding: 0px 10px;
      box-sizing: border-box;
      color: rgb(58, 58, 58);
    }
    > h3 {
      font-size: 14px;
      font-weight: 400;
      font-family: fontthree;
      text-align: center;
      margin: 0px auto 0px auto;
      padding: 0px 10px;
      box-sizing: border-box;
      color: rgb(58, 58, 58);
margin-bottom: 10px;
    }
    > div {
      display: flex;
      height: 16px;
      width: inherit;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
row-gap: 10px;
      > a {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 14px;
        font-weight: 400;
        font-family: fontthree;
        text-align: center;
        padding: 0px 10px;
        box-sizing: border-box;
        color: rgb(58, 58, 58);
      }
    }
  }
}
div.two-side-one{display: none;
}